
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  color: #27221f;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 24px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/*
div {
  border: 1px solid red;
}
*/

.hidden_left {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.8s;
  transform: translateX(-100%);
}

.hidden_right {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.8s;
  transform: translateX(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#hero_title {
  position: absolute;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  color: #EEEEEE;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 700;
}

.checkpoint {
  margin-top: 20vh;
  margin-bottom: 20vh;
  cursor: pointer;
  width: 340px;
  height: 480px;
}


.odd {
  margin-right: 10vw;
  margin-left: auto;
}

.even {
  margin-left: 10vw;
  margin-right: auto;
}

.year .odd {
  margin-right: 10vw;
  margin-left: auto;
}

.year .even {
  margin-left: 10vw;
  margin-right: auto;
}

.card_front, .card_back {
  width: 340px;
  height: 480px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  border-radius: 20px;
}

.card_front img {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  transform: perspective(600px) rotateY(0deg);
}

.card_back {
  background-image: url("media/parchment_background.jpg");
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.card_back_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checkpoint:hover > .card_front {
  transform: perspective(600px) rotateY(-180deg);
}

.checkpoint:hover > .card_back {
  transform: perspective(600px) rotateY(0deg);
}

.year {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year h1 {
  color: #EEEEEE;
  font-size: 6.5rem;
  font-weight: 700;
  /*border: 1px solid blue;*/
  width: 340px;
  text-align: center;
}

.return_button {
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
  padding: 10px 20px;
  border-radius: 4px;
  width: 12.5vw;
  height: 6vh;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.return_button:hover {
  background-color: aliceblue;
  color: black;
}

.contribution_specific {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  background: -moz-radial-gradient(rgba(227, 227, 227, 0.12), rgba(0, 0, 0, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

#contributions :hover {
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 1));
}

#contributions .contribution_specific :hover{
  transform: none;
  background: transparent;
}